# ===================== CORE =====================
numpy>=1.26
pandas>=2.1

# ===================== PYTORCH =====================
torch>=2.1
torchvision>=0.16

# ===================== MEDICAL IMAGE =====================
SimpleITK>=2.3

# ===================== ML =====================
scikit-learn>=1.4

# ===================== API =====================
fastapi>=0.110
uvicorn[standard]>=0.27
python-multipart>=0.0.9
pydantic>=2.6

# ===================== UTILS =====================
tqdm>=4.66

# ===================== OPTIONAL =====================
opencv-python>=4.9
